absl-py==1.0.0
astunparse==1.6.3
attrs==21.2.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.10.0
Fiona==1.8.20
flatbuffers==2.0
gast==0.4.0
geopandas==0.10.2
importlib-metadata==4.8.2
munch==2.5.0
networkx==2.6.3
osmnx==1.1.1
pickle-mixin==1.0.2
